@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-site);
}

@font-face {
  font-family: "Normal";
  /*Can be any text*/
  src: local("WensleyDemo"), url("./fonts/WensleyDemo.ttf") format("truetype");
}

@font-face {
  font-family: "notnormal";
  /*Can be any text*/
  src: local("Aller_Lt"), url("./fonts/Aller_Lt.ttf") format("truetype");
}